html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Courier',monospace;
  color: white;
  background: dimgray;
  -webkit-font-smoothing: antialiased;
}
html {
  overflow: hidden; }
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
li {
	width: 100%;
	text-align: left;
	color: white;
	font-size: 1.2em; 
	display: block;
}
button {
	font-family: 'Curier',monospace;
	font-size: 1.5em;
}
input {
    height: 32px;
	font-size: 1.2em;
	padding: 0;
	margin: 10px;
	color: white;
	background-color: black;
	border: solid gray 2px;
}
.check {
    width: 20px;
	height: 20px;
	vertical-align: middle;
	background: gray;
    accent-color: white;
}
.roundButton {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background: black;
	display: block;
	z-index: 5;
}
.roundButton img {
	display: block;
	width: 24px;
	height: 24px;
}
.dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	color: white;
	background: black;
	display: none;
	z-index: 15;
}
.iconButton {
	position: absolute;
	width: 36px;
	height: 36px;
	padding: 12px;
	margin: 5px;
	border: none;
}
#main {
  padding-top: 50px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  background-color: #444;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: black;
	font-size: 1.5em;
	z-index: 5;
}
#activeTab {
	position: absolute;
	left: 0;
	height: 40px;
	padding: 5px;
	color: white;
	background-color: #444;
}
#inactiveTab {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 40px;
	padding: 5px;
	color: #AAA;
}
#curtain {
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 0;
	background-color: #444;
	opacity: 0.6;
	z-index: 10;
}
#list {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #444;
    padding: 5px;
}
#buttonNew {
	right: 20px;
	bottom: 20px;
	background: url(add.svg) center center no-repeat;
}
#dialogButtons {
	position: absolute;
	left: 0;
	width: 100%;
	height: 50px;
	background: black;
}
#buttonDelete {
	background: url(delete24px.svg) center center no-repeat;
    left: 5%;
}
#buttonPromote {
	background: url(up24px.svg) center center no-repeat;
    left: 30%;
}
#buttonDemote {
	background: url(down24px.svg) center center no-repeat;
    left: 50%;
}
#buttonAdd {
    background: url(add24px.svg) center center no-repeat;
    left: 75%;
}
#buttonSave {
	background: url(ok24px.svg) center center no-repeat;
    left: 75%;
}